# Git Ignore

# Large dataset
Data/train_folder.zip
Data/train_folder
Data/train_folder/*/*.png

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables file
.env
.env.*
.secret

# Large files and folders to exclude
Data/birdclef-2024.zip
Data/birdclef-2024
**/*.ogg
**/*.png
**/*.flac
**/*.pth

Data/spec_images/
Data/8kHz_spec_images/
Data/8kHz_spec_images_128mel/
Spectrogram Generation/8kHz_folder.zip
